#root {
  
  margin: 0 auto;
  text-align: center;
  --ua-blue: #0066cc; 
  --se-yellow: #FFD700; 
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff;
}

.App {
  text-align: center;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
}


form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: auto;
}

input, textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
}



.gradient-bg {
  background: linear-gradient(0deg, #FFD700 3%, #0066cc 73%, #00000011 120%);
}



/* Default canvas styles */
div#tsparticles > canvas {
  position: relative;
  width: 100vw !important;
  height: 0;
  margin: auto !important;
  z-index: 0;
}

/* For screens larger than 1200px (e.g., desktops) */
@media (min-width: 1200px) {


  div#tsparticles > canvas {
    left: -20rem;
    width: 100%;
    height: 50rem;
  }
}

/* For screens between 768px and 1200px (e.g., tablets) */
@media (min-width: 768px) and (max-width: 1199px) {
  #tsparticles {
    position: relative;
    height: 30rem; 
    width: 95%;
  }

  div#tsparticles > canvas {
    width: 100%;
    height: 100%;
    left: -12rem;
  }
}

/* For screens smaller than 768px (e.g., mobile) */
@media (max-width: 767px) {
  #tsparticles {
    height: 40rem;
    width: 100%;
    overflow: visible;
  }

  div#tsparticles > canvas {
    top: 1rem;
    left: 0 !important;
    width: 70%;
    height: 100%;
    overflow: visible;
  }
}



@media (max-width: 767px) {
 #name-title {
  transform:translate(1rem, -8rem);
 } 
}