#root {
  
  margin: 0 auto;
  text-align: center;
  --ua-blue: #0066cc; 
  --se-yellow: #FFD700; 
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff;
}

.App {
  text-align: center;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
}


form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: auto;
}

input, textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
}



.gradient-bg {
  background: linear-gradient(0deg, #FFD700 3%, #0066cc 73%, #00000011 120%);
}


/* Default canvas styles */
div#tsparticles > canvas {
  position: relative;
  width: 22rem;
  height: 22rem;

  z-index: 0;
}


/* For screens smaller than 768px (e.g., mobile) */
@media (max-width: 767px) {
  #tsparticles {
    height: 22rem;
    width: 22rem;
    overflow: visible;
    margin: auto;
    display:flex;
    flex-direction: column;
    transform: translateX(0.5rem);
    margin-bottom: 1rem;;

  }


}

