.bg_grad {
    background: linear-gradient(135deg, #0066cc 30%, #FFD700 100%);
    background-size: 400% 400%;
    animation: gradient 15s ease 2 forwards;
    overflow: hidden;
  }
  
  @keyframes gradient {
    0% {
        background-position: 10% 100%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 10% 100%;
    }
  }
