.container {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-padding: 10px;
  scroll-behavior: smooth;
  width: 50rem;
  height: 45rem;
  position: relative;
  gap: 10px;
  padding: 25px;
  margin-left: auto;
  margin-right: auto; 
  /* Hide scrollbars */
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  /* True transparent edge fading via masking */
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;

  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}

.item {
  scroll-snap-align: center;
  flex: 0 0 75%;
  margin: 0 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: bisque;
  font-size: 1.3rem;
  line-height: 1.3em;
  font-weight: 400;
  font-family: sans-serif; /* Fixed typo */
  border-radius: 1rem;
  cursor: grab;
  position: relative;
  overflow: hidden;
  
  /* Frosted glass effect */
  background: rgba(18, 18, 18, 0.5);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  
  
  &:active {
    cursor: grabbing;
  }
}

.item-image {
  height: 30rem;
  width: 100%;
  opacity:0.8;
  overflow: hidden;

  img {
    padding: 1.8rem;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Fills parent while maintaining aspect ratio */
    object-position: 30% 70%; /* Change this to move image */
    display: block;
    border-radius: 2.5rem;
  }
}

.item-title {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

.item-desc {
  margin: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1rem;
}

.btn-dir {
  position: absolute;
  top: 45%;
  border: none;
  color: whitesmoke;
  background: none;
  transition: background 0.3s;
  cursor: pointer;
  font-size: 2rem;
  padding: 0.5rem;
  z-index: 404;
  
  &:hover {
    font-size: 2.5rem;
  }
  
  &.left {
    left: 0;
  }
  
  &.right {
    right: 0;
  }
}

@keyframes rotate {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 400% 0%;
  }
}
